body{
   
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bodyXL{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      transition: 0.5s;
}
.mainbody{
padding: 10px;
text-align: center;
}

.topbar{
  overflow: hidden;
  background-color: #333;

  top: 0;
  width: 100%;
}
.spana{
padding-left: 20px;
margin-top: 50px;
color: white;
font-size:30px;

cursor:pointer;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 103, 221);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  text-align:center;
}

.sidenav a {
  padding-bottom: 20px;
  text-decoration: none;
  font-size: 25px;
  align-self: center;
  color: #f1fdff;
  display: block;
  transition: 0.3s;

}
.sidenav button{
  font-size: 25px;
  border: 0;
  margin: 20px;
  justify-content: center;
  color: white;
  background-color: rgb(0, 103, 221);
}
.sidenav a:hover{
  color: #ffe0e0;
}

.sidenav .closebtn {
  
  font-size: 25px;

}


.projects{
    background-color: rgba(8, 209, 142, 0.904);
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    text-align: center;
    padding: 10px;
  
}

.projects h1{
    font-style: inherit;
    color: rgba(255, 255, 255, 0.938);
    font-family: 'Franklin Gothic Medium';
    text-decoration: none;
    font-size: 25px; 
    overflow: hidden;
}
.dropbtn {
  background-color: rgb(0, 170, 212);
  color: rgb(241, 255, 254);
  padding: 15px;
  font-size: 18px;
  font-style: inherit;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0.2,0.4);
  z-index: 1;
}

.dropdown-content a {
  justify-content: center;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #077caa;
}
.mainbody{
  background-color: rgb(255, 238, 0);
  text-align: center;
}
.mainbody h1{
    font-style: inherit;
    color: rgba(22, 22, 22, 0.644);
    font-family: 'Franklin Gothic Medium';
    text-decoration: none;
    font-size: 25px; 

}
.mainbody h3{
    font-style: initial;
    color: rgba(22, 22, 22, 0.644);
    font-family: 'Ubuntu Mono', monospace;
    text-decoration: none;
    font-size: 20px; 
    font-style: inherit;
    padding-left: 90px;
    padding-right: 90px;

}
.header{
    height: 500px;
    overflow: hidden;
    background-color:rgb(0, 146, 231);
    position: relative;
 
}
.headel{
  height: 500px;
  text-align: center;
  overflow: hidden;
  background-color:rgb(0, 162, 255);
  position: relative;

}
.headel a{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    font-family: 'Kanit', sans-serif;
    transform: translate(-50%, -50%);
    font-style: inherit;
  color: rgb(220, 254, 255);
   
  text-decoration: none;
  font-size: 40px; 

}
.headel h1{
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translate(-50%, -50%);
    font-style: inherit;
  color: rgb(255, 255, 255);
   
  text-decoration: none;
  font-size: 25px; 

}
section #services {

  text-align: center;
  transform: translatez(0);
}
section #services h2 {
  
  color: rgb(77, 77, 77);
  font-size: 25px;
  font-family: 'Patua One', cursive;
  text-transform: uppercase;
  text-align: center;
}
section #services li {
  width: 100px;
  height: 120px;
  display: inline-block;
  margin: 0px 20px -30px 20px;
  list-style: none;
}
section #services li div {
  width: 90px;
  height: 90px;
  color: #74d4b3;
  font-size: 55px;
  text-align: center;
  line-height: 90px;
  background-color: #fff;
  transition: all 0.5s ease;
}
section #services li a {
  color: #0bc6ff;
}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
section #services li span {
  width: 120px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}
.credits a {
  display: block;
  text-align: center;
  color: #74d4b3;
  text-decoration: none;
  font-size: 24px;
  margin-top: 50px;
  background: white;
  padding: 20px;
  max-width: 300px;
}
.beuman{
  background-color: rgb(167, 72, 255);
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.beuman h1{
  font-family: 'Baloo Paaji', cursive;
  color: #f1f1f1;
}
.cnn {
  background-color: rgb(245, 145, 14);
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.cnn h1{
  font-family: 'Baloo Paaji', cursive;
  color: #f1f1f1;
}
.left{
  padding-top: 80px;
  width: 350px;

}
.right{
  
  padding: 50px;
  width: 800px;
}
.right h2{
  color: azure;
  font-size: 20px;
  font-family: 'Baloo Paaji', cursive;
}
.bbutton{
  background-color: white;
  border-radius: 7px;
  padding: 10px;
  border: 0px;
  cursor:pointer;
  margin: 5px;
  font-family: 'Baloo Paaji', cursive;
}
.footer{
  display: grid;
  background-color: rgb(41, 41, 41);
  text-align: center;
  color: white;
}
.toolkit{
  background-color: rgb(0, 197, 76);
  display: flex;
  text-align: center;
  justify-content: space-around;

}
.toolkit h1{
  font-family: 'Baloo Paaji', cursive;
  color: #f1f1f1;
}
.personal{
  background-color: rgb(245, 0, 102);
  display: flex;
  text-align: center;
  justify-content: space-around;

}
.personal h1{
  font-family: 'Baloo Paaji', cursive;
  color: #f1f1f1;
}
.left1{
  padding-top: 20px;
  padding-bottom: 25px;
  width: 350px;

}
@media only screen and (max-width: 600px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .header{
    height: 300px;
    overflow: hidden;
    background-color:rgb(0, 146, 231);
    position: relative;
 
}
.headel{
  height: 300px;
  text-align: center;
  overflow: hidden;
  background-color:rgb(0, 162, 255);
  position: relative;

}
  .headel a{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;

    font-family: 'Kanit', sans-serif;
    transform: translate(-50%, -50%);
    font-style: inherit;
  color: rgb(247, 247, 247);
   
  text-decoration: none;
  font-size: 30px; 

}
.headel h1{
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translate(-50%, -50%);
    font-style: inherit;
  color: rgb(255, 255, 255);
   
  text-decoration: none;
  font-size: 20px; 

}
section #services li div {
  width: 70px;
  height: 70px;
  color: #74d4b3;
  font-size: 35px;
  text-align: center;
  line-height: 70px;
  background-color: #fff;
  transition: all 0.5s ease;
}
section #services li {
  width: 100px;
  height: 120px;
  display: inline-block;
  margin: 0px 20px -30px 10px;
  list-style: none;
}
  }